.container, .container-fluid {
  margin-top: 30px;
} 

.container{
  padding: 30px;
}

.colunaAcoes{
  width: 130px;
}

footer{
  padding-top:32px;
}

footer .container{
  text-align: center;
}

footer .footer-copyright{
  margin-bottom: 35px;
  text-align: center;
  color: #777;
}

footer ul{
  list-style-type: none;
  padding: 0;
  margin-bottom: 18px;
}

footer a{
  color: #282b2d;
  font-size: 18px;
}

footer li{
  display: inline-block;
  margin: 0px 15px;
  line-height: 2;
}

footer .footer-social{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #eee;
}

footer .fa{
  font-size: 36px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: #d0d0d0;
  border-radius: 51%;
  padding: 10px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  transition:color 0.2s;
}

footer .fa-facebook:hover{
 color: #2b55ff;
}

footer .fa-facebook:focus{
  color: #2b55ff; 
}

footer .fa-google-plus:hover{
  color:red;
}

footer .fa-google-plus:focus{
  color:red;
}

footer .fa-twitter:hover{
  color: #00aced;

}

footer .fa-twitter:focus{
  color:#00aced;
}

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
  height: 100%;
}

body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

.content{
 flex: 1 0 auto;
 -webkit-flex: 1 0 auto;
 min-height: 200px;
}

footer{
 flex: 0 0 auto;
 -webkit-flex: 0 0 auto;
}

.navbar-bg{
  background-color:#009999; 
}

.header{
  height: 50px;
}

.appTitle{
  position: relative;
  bottom: 50px;
}

.nav-link {
  color: #FFFFFF  !important;
}

.nav-link:hover {
  color: #6c757d !important;
  background: #FFFFFF;
}

.app-bg{
  background: #777;
}

.full-width{
  width: 100%;
}

.page-content{
  background: #FFEFFE;
  border-radius: 8px;
  padding: 20px;
}